<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first"><%= link_to "#{t("web-app-theme.list", :default => "List")}", parties_path  %></li>
      <li><%= link_to "#{t("web-app-theme.new", :default => "New")}", new_party_path %></li>
      <li class="active"><%= link_to "#{t("web-app-theme.show", :default => "Show")}", party_path %></li>
    </ul>
  </div>          
  <div class="content">
    <div class="inner">
      
        <p>
          <b><%= t("activerecord.attributes.party.display_name", :default => t("activerecord.labels.display_name", :default => "Display name")) %>:</b>
          <%= @party.display_name %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.party.ident", :default => t("activerecord.labels.ident", :default => "Ident")) %>:</b>
          <%= @party.ident %>
        </p>
      <div class="wat-cf">
        <%= link_to "#{image_tag("web-app-theme/application_edit.png", :alt => "#{t("web-app-theme.edit", :default=> "Edit")}")} #{t("web-app-theme.edit", :default=> "Edit")}", edit_party_path(@party), :class => "button" %> 
        <%= link_to "#{image_tag("web-app-theme/cross.png", :alt => "#{t("web-app-theme.delete", :default=> "Delete")}")} #{t("web-app-theme.delete", :default => "Delete")}", party_path(@party), :method => "delete", :class => "button", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
      </div>      
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>