
  <div class="group">
    <%= f.label :display_name, t("activerecord.attributes.ballot_style_template.display_name", :default => "Display name"), :class => :label %>
    <%= f.text_field :display_name, :class => 'text_field' %>
    <span class="description">Ballot style name</span>
  </div>

  <div class="group">
	 	<%= f.label :default_voting_method_id ,'Default Voting Method',:class => :label %>
		<%= select("ballot_style_template", "default_voting_method", VotingMethod.all.collect {|p| [p.display_name,p.id ]}) %>
  </div>


  <div class="group">
    <%= f.label :instruction_text, t("activerecord.attributes.ballot_style_template.instruction_text", :default => "Instruction text"), :class => :label %>
    <%= f.text_area :instruction_text, :class => 'text_area' %>
    <span class="description">Instructions for filling out ballots of this style</span>
  </div>

  <div class="group">
    <%= f.label :state_graphic, t("activerecord.attributes.ballot_style_template.state_graphic", :default => "State graphic"), :class => :label %>
    <%= f.text_field :state_graphic, :class => 'text_field' %>
  </div>

	<div class="group">
	 	<%= f.label :ballot_style ,'Ballot style',:class => :label %>
		<%= select("ballot_style_template", "ballot_style", BallotStyle.all.collect {|p| [p.display_name,p.id ]}) %>
  </div>

	<div class="group">
	 	<%= f.label :default_language ,'Default Language',:class => :label %>
		<%= select("ballot_style_template", "default_language", Language.all.collect {|p| [p.display_name,p.id ]}) %>
  </div>

  <div class="group">
    <%= f.label :state_signature_image, t("activerecord.attributes.ballot_style_template.state_signature_image", :default => "State signature image"), :class => :label %>
    <%= f.text_field :state_signature_image, :class => 'text_field' %>
  </div>

	<div class="group">
	 	<%= f.label :medium_id ,'Medium',:class => :label %>
		<%= select("ballot_style_template", "medium_id", Medium.all.collect {|p| [p.display_name,p.id ]}) %>
  </div>
        
<div class="group navform wat-cf">
  <button class="button" type="submit">
    <%= image_tag("web-app-theme/tick.png", :alt => "#{t("web-app-theme.save", :default => "Save")}") %> <%= t("web-app-theme.save", :default => "Save") %>
  </button>  
  <%= link_to "#{image_tag("web-app-theme/cross.png", :alt => "#{t("web-app-theme.cancel", :default => "Cancel")}")} #{t("web-app-theme.cancel", :default => "Cancel")}", ballot_style_templates_path, :class => "button" %> 
</div>