<!-- INCLUDE SCRIPTS FOR YUI RICH TEXT EDITOR -->
<%= render :partial => 'yui_rte_includes' %>

<script type="text/javascript" charset="utf-8">
	function update() 
	{
		document.getElementById('ballot_style_template_instruction_text').value = document.getElementById('ballot_style_template_instruction_text_editor').contentDocument.body.innerHTML
	}
</script>
<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first"><%= link_to "#{t("web-app-theme.list", :default => "List")}", ballot_style_templates_path  %></li>
      <li><%= link_to "#{t("web-app-theme.new", :default => "New")}", new_ballot_style_template_path %></li>
      <li class="active"><%= link_to "#{t("web-app-theme.edit", :default => "Edit")}", edit_ballot_style_template_path %></li>
    </ul>
  </div>          
  <div class="content">            
    <h2 class="title"><%= t("web-app-theme.edit", :default => "Edit") %> BallotStyleTemplate</h2>
    <div class="inner">
 		<% form_for(@ballot_style_template) do |f| %>
		  <%= f.error_messages %>

		  <p>
		    <%= f.label :display_name %><br />
		    <%= f.text_field :display_name %>
		  </p>
		  <p>
		    <%= f.label :default_language %><br />
			<%= f.collection_select(:default_language, Language.all, :id, :display_name) %>
		  </p>
		  <p>
		    <%= f.label :default_voting_method %><br />
			<%= f.collection_select(:default_voting_method, VotingMethod.all, :id, :display_name) %>
		  </p>
			<p>
		    <%= f.label :ballot_style %><br />
			<%= f.collection_select(:ballot_style, BallotStyle.all, :id, :display_name) %>
		  </p>	
			<p>
		    <%= f.label :medium_id%><br />
			<%= f.collection_select(:medium_id, Medium.all, :id, :display_name) %>
		  </p>
		  <p class="yui-skin-sam">
			  <%= f.label :instruction_text %><br />
			<%= f.text_area :instruction_text %>
		  </p>


		  <p>
		    <%= f.label :state_graphic %><br />
		    <%= f.text_field :state_graphic %>
		  </p>  
			<p>
		    <%= f.label :state_signature_image %><br />
		    <%= f.text_field :state_signature_image %>
		  </p>

		  <p>
		    <%= f.submit 'Update',  :onclick => "update()"%>
		  </p>
		<% end %>    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>

