<h1>Editing Ballot Style Template</h1>

<% form_for(@ballot_style_template) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :display_name %><br />
    <%= f.text_field :display_name %>
  </p>
  <p>
    <%= f.label :default_voting_method %><br />
    <%= select("ballot_style_template", "default_voting_method", VotingMethod.all.collect {|p| [p.display_name,p.id ]}) %>
	
  </p>
	<p>
    <%= f.label :ballot_style %><br />
    <%= f.select("ballot_style", options_for_select([["Office Block", "default"], ["Party Column", "nh"]])) %>
  </p>	


  <p>
    <%= f.label :instruction_text %><br />
    <%= f.text_area :instruction_text %>
  </p>
  <p>
    <%= f.label :state_graphic %><br />
    <%= f.text_field :state_graphic %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @ballot_style_template %> |
<%= link_to 'Back', ballot_style_templates_path %>