<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first"><%= link_to "#{t("web-app-theme.list", :default => "List")}", ballot_style_templates_path  %></li>
	 <li class="active"><%= link_to "#{t("web-app-theme.new", :default => "New Office Block Template")}", :action => 'new', :template => 'office_block' %></li>
	 <li><%= link_to "#{t("web-app-theme.new", :default => "New Party Column Template")}", :action => 'new', :template => 'party_column' %></li>

    </ul>
  </div>          
  <div class="content">            
    <h2 class="title"><%= t("web-app-theme.new", :default => "New")%>  Office Block Ballot Style Template</h2>
    <div class="inner">
      <% form_for :ballot_style_template, :url => ballot_style_templates_path, :html => { :class => :form ,  :multipart => true} do |f| -%>
       
	  <div class="group">
	    <%= f.label :display_name, t("activerecord.attributes.ballot_style_template.display_name", :default => "Display name"), :class => :label %>
	    <%= f.text_field :display_name, :class => 'text_field', :style => 'width:300px' %>
	    <span class="description">Ex: a simple text</span>
	  </div>

	  <div class="group">
	    <%= f.label :default_voting_method, t("activerecord.attributes.ballot_style_template.default_voting_method", :default => "Default voting method"), :class => :label %>
		<%= f.collection_select(:default_voting_method, VotingMethod.all, :id, :display_name) %>
	    <span class="description">Ex: a simple text</span>
	  </div>

	  <div class="group">
		<%= f.label :instruction_image, t("activerecord.attributes.ballot_style_template.instruction_text", :default => "The Office Block Template Requires The Following:"), :class => :label %>
	    <%= f.label :instruction_image, t("activerecord.attributes.ballot_style_template.instruction_text", :default => "Ballot Instructions Image File")%><br>
	    <%= f.label :instruction_image, t("activerecord.attributes.ballot_style_template.instruction_text", :default => "Required File Dimensions: width: 330px, height: 1600px")%><br>
	    <%= f.file_field :instructions_image %>
		<% unless @ballot_style_template.instructions_image.url(:thumb).index('missing') %>
			<%= image_tag(@ballot_style_template.instructions_image.url(:thumb)) %>
		<% end -%>

	  </div>

		<%= f.hidden_field :ballot_style, :value=> '0' %>
		<%= hidden_field_tag :instruction_image_dimensions, :value=> '[331, 1600]'%>


	  <div class="group">
	    <%= f.label :default_language, t("activerecord.attributes.ballot_style_template.default_language", :default => "Default language"), :class => :label %>
		<%= f.collection_select(:default_language, Language.all, :id, :display_name) %>
	    <span class="description">Ex: a simple text</span>
	  </div>

	  <div class="group">
	    <%= f.label :medium_id, t("activerecord.attributes.ballot_style_template.medium_id", :default => "Medium"), :class => :label %>
		<%= f.collection_select(:medium_id, Medium.all, :id, :display_name) %>
	    <span class="description">Ex: a simple text</span>
	  </div>

	<div class="group navform wat-cf">
	  <button class="button" type="submit">
	    <%= image_tag("web-app-theme/tick.png", :alt => "#{t("web-app-theme.save", :default => "Save")}") %> <%= t("web-app-theme.save", :default => "Save") %>
	  </button>  
	  <%= link_to "#{image_tag("web-app-theme/cross.png", :alt => "#{t("web-app-theme.cancel", :default => "Cancel")}")} #{t("web-app-theme.cancel", :default => "Cancel")}", ballot_style_templates_path, :class => "button" %> 
	</div>
      <% end -%>
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>