<div class="inner">
  <table class="table">
    <tr>
      <th>
        <%= t("activerecord.attributes.contest.contest", :default => t("activerecord.labels.contest", :default => "Contest")) %>
      </th>
      <th>
        <%= t("activerecord.attributes.contest.candidates", :default => t("activerecord.labels.candidates", :default => "Candidates")) %>
      </th>
      <th class="last">
        &nbsp;
      </th>
    </tr>
    <% @contests.sort!{|c1,c2|c1.order <=> c2.order} %>
    <% @contests.each do |contest| -%>
    <tr class="<%= cycle("odd", "even") %>">
      <td>
        <%= link_to contest.display_name, contest_path(contest) %>
      </td>
      <td>
        <%= contest.candidates.count %>
      </td>
      <td class="last">
        <%= link_to "#{t("web-app-theme.show", :default => "Show")}", contest_path(contest) %>|<%= link_to "#{t("web-app-theme.edit", :default => "Edit")}", edit_contest_path(contest) %>|<%= link_to "#{t("web-app-theme.delete", :default => "Delete")}", contest_path(contest), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
      </td>
    </tr>
    <% end -%>
  </table>
  <div class="actions-bar wat-cf">
    <div class="actions">
      <%= link_to "#{t("web-app-theme.new", :default => "Add new contest")}", :controller => "contests", :action => "new" %> 
    </div>
    <%= will_paginate @contests %>
  </div>
</div>
