
  <div class="group">
    <%= f.label :display_name, t("activerecord.attributes.contest.display_name", :default => "Display name"), :class => :label %>
    <%= f.text_field :display_name, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :open_seat_count, t("activerecord.attributes.contest.open_seat_count", :default => "Open seat count"), :class => :label %>
    <%= f.text_field :open_seat_count, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <% voting_methods = VotingMethod.find(:all, :order => :id) %>
    <% default_method = current_context.election.default_voting_method_id if current_context.election? %>
    <%= f.label :voting_method_id, t("activerecord.attributes.contest.voting_method_id", :default => "Voting method"), :class => :label %>
    <%= f.collection_select(:voting_method_id, voting_methods, :id, :display_name) if default_method.nil? %>
    <%= f.collection_select(:voting_method_id, voting_methods, :id, :display_name, :selected => default_method) unless default_method.nil? %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <% districts = current_context.jurisdiction.districts %>
    <%= f.label :district_id, t("activerecord.attributes.contest.district_id", :default => "District"), :class => :label %>
    <%= f.collection_select(:district_id, districts, :id, :display_name) %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :election_id, t("activerecord.attributes.contest.election_id", :default => "Election"), :class => :label %>
    <%= f.text_field :election_id, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :order, t("activerecord.attributes.contest.order", :default => "Order"), :class => :label %>
    <%= f.text_field :order, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>
        
<div class="group navform wat-cf">
  <button class="button" type="submit">
    <%= image_tag("web-app-theme/tick.png", :alt => "#{t("web-app-theme.save", :default => "Save")}") %> <%= t("web-app-theme.save", :default => "Save") %>
  </button>  
  <%= link_to "#{image_tag("web-app-theme/cross.png", :alt => "#{t("web-app-theme.cancel", :default => "Cancel")}")} #{t("web-app-theme.cancel", :default => "Cancel")}", contests_path, :class => "button" %> 
</div>