<div class="inner">
    <table class="table">
        <tr>
            <th>
                <%= t("ttv.ident", :default => "Ident") %>
            </th>
            <th>
                <%= t("ttv.display_name", :default => "Display Name") %>
            </th>
            <th class="last">
                &nbsp;
            </th>
        </tr>
        <% @assets.each do |asset| -%>
        <tr class="<%= cycle("odd", "even") %>">
            <td>
                <%= link_to asset.ident, asset_path(asset) %>
            </td>
            <td>
                <%= link_to asset.display_name, asset_path(asset) %>
            </td>
            <td class="last">
                <%= link_to "#{t("ttv.show", :default => "Show")}", asset_path(asset) %>|<%= link_to "#{t("ttv.edit", :default => "Edit")}", edit_asset_path(asset) %>|<%= link_to "#{t("ttv.delete", :default => "Delete")}", asset_path(asset), :method => :delete, :confirm => "#{t("ttv.confirm", :default => "Are you sure?")}" %>
            </td>
        </tr>
        <% end -%>
    </table>
    <div class="actions-bar wat-cf">
        <div class="buttons">
            <%= link_to "#{t("ttv.list", :default => "List")}", assets_path %>
            <%= link_to "#{t("ttv.new", :default => "New")}", new_asset_path %>
        </div>
        <div class="actions">
        </div>
        <%= will_paginate @assets %>
    </div>
</div>
