<div class="group">
    <%= f.label :ident, t("ttv.ident", :default => "Ident"), :class => :label %>
    <%= f.text_field :ident, :class => 'text_field' %>
    <span class="description">Name of asset</span>
</div>
<div class="group">
    <%= f.label :display_name, t("ttv.display_name", :default => "Display name"), :class => :label %>
    <%= f.text_field :display_name, :class => 'text_field' %>
    <span class="description">Name of asset</span>
</div>
<div class="group">
    <%= f.file_field :asset %>
</div>
<div class="actions-bar wat-cf">
    <div class="buttons">
        <button type="submit">
            <%= t("ttv.save", :default => "Save") %>
        </button>
        <%= link_to t("ttv.cancel", :default => "Cancel"), assets_path %>
    </div>
</div>
