<h1>Listing district_types</h1>

<table>
  <tr>
    <th>Title</th>
  </tr>

<% @district_types.each do |district_type| %>
  <tr>
    <td><%=h district_type.title %></td>
    <td><%= link_to 'Show', district_type %></td>
    <td><%= link_to 'Edit', edit_district_type_path(district_type) %></td>
    <td><%= link_to 'Destroy', district_type, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New district_type', new_district_type_path %>