<div class="inner">
  <table class="table">
    <tr>
      <th>
        <%= t("activerecord.attributes.precinct.precinct", :default => t("activerecord.labels.precinct", :default => "Precinct")) %>
      </th>
      <th>
        <%= t("activerecord.attributes.precinct.contests", :default => "Contests") %>
      </th>  
      <th>
        <%= t("activerecord.attributes.precinct.questions", :default => "Questions") %>
      </th>  
      <th class="last">
        &nbsp;
      </th>
    </tr>
    <% @precincts.each do |precinct| -%>
    <tr class="<%= cycle("odd", "even") %>">
       <td>
        <%= link_to precinct.display_name, precinct_path(precinct) %>
      </td>
      <td>
        <%= precinct_contest_count_helper(precinct, @election) %>
      </td>
      <td>
        <%= precinct_question_count_helper(precinct, @election) %>
      </td>
      <td class="last">
		<% if @controller.controller_name == 'elections' %>
        	<%= link_to "#{t("web-app-theme.ballot", :default => "Download Ballot")}", ballot_election_precinct_path(@election, precinct)  %> 
		|
		<% end -%>
		<%= link_to "#{t("web-app-theme.show", :default => "Show")}", precinct_path(precinct) %>|<%= link_to "#{t("web-app-theme.edit", :default => "Edit")}", edit_precinct_path(precinct) %>|<%= link_to "#{t("web-app-theme.delete", :default => "Delete")}", precinct_path(precinct), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
      </td>
    </tr>
    <% end -%>
  </table>
  <div class="actions-bar wat-cf">
    <div class="actions">
    </div>
    <%= will_paginate @precincts %>
  </div>
</div>
