<h1>Listing ballot_styles</h1>

<table>
  <tr>
    <th>Display name</th>
  </tr>

<% @ballot_styles.each do |ballot_style| %>
  <tr>
    <td><%=h ballot_style.display_name %></td>
    <td><%= link_to 'Show', ballot_style %></td>
    <td><%= link_to 'Edit', edit_ballot_style_path(ballot_style) %></td>
    <td><%= link_to 'Destroy', ballot_style, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New ballot_style', new_ballot_style_path %>