<% display ||= 'block'%>
<% div_id = "#{dom_id(candidate)}_static"%>
<div id="<%= div_id -%>"  style='display:<%= display %>' class='candidate'>
	<div class='tools'>
		<%= link_to_remote "Delete", :url => contest_candidate_path(candidate.contest, candidate), :method => 'delete',
			:confirm => "Are you sure?",
			:failure => "ttv.error('Unexpected error, delete failed')" %>
	</div>
	<p>
		<%= image_tag "icons/candidate.gif", :class => "icon" %>
		<span class="canEdit"><%= h candidate.display_name %>, 
		<%= h candidate.party.display_name -%>.</span>
	</p>
</div>