<% display ||= 'block'%>
<% @div_id = "#{dom_id(election)}_edit" %>
<div id="<%= @div_id -%>" class='isEditor' style='display:<%= display %>'>
	<% remote_form_for election, 
			:action => 'update', :html => { :inlineEditor => 1 }   do |f| %>
			<%= render_error_messages(election) %>
		  <p>
		    <%= f.label :display_name, "Election name"%> 
		    <%= f.text_field :display_name %>
			</p>
			<p>
		    <%= f.label :start_date %>
				<% @election = election %>
				<%= datetime_select :election, :start_date, { :start_year => 2009 }%>
			</p>
			<p>
			<%= f.label :district_set %>
			<p>
				<select id="dist_set" name="election[district_set_id]">
					<%= options_from_collection_for_select @dist_sets, "id", "display_name", @election.district_set.id %>
				</select>
			</p>
				<%= f.submit 'Update' %>
		 		<input type="button" value="Cancel" onClick="ttv.cancelEdit('<%= @div_id -%>')">
			</p>

		<% end %>
</div>
