
  <div class="group">
    <%= f.label :display_name, t("activerecord.attributes.election.display_name", :default => "Display name"), :class => :label %>
    <%= f.text_field :display_name, :class => 'text_field' %>
    <span class="description">Name of election</span>
  </div>

  <div class="group">
    <% district_sets = DistrictSet.find(:all, :order => :id) %>
    <%= f.label :district_set_id, t("activerecord.attributes.election.district_set_id", :default => "Jurisdiction"), :class => :label %>
    <%= f.collection_select(:district_set_id, district_sets, :id, :display_name) %>
  </div>

	<div class="group">
	 	<%= f.label :ballot_style_template_id ,'Ballot Style Template',:class => :label %>
		<%= select("election", "ballot_style_template_id", BallotStyleTemplate.all.collect {|p| [p.display_name,p.id ]}) %>
  </div>
  
	<div class="group">
	 	<%= f.label :default_voting_method_id ,'Default Voting Method',:class => :label %>
		<%= select("election", "default_voting_method_id", VotingMethod.all.collect {|p| [p.display_name,p.id ]}) %>
  </div>

  <div class="group">
    <%= f.label :start_date, t("activerecord.attributes.election.start_date", :default => "Start date"), :class => :label %>
    <%= f.datetime_select :start_date, :class => 'datetime_select' %>
    <span class="description">Election's starting date and time</span>
  </div>
        
<div class="group navform wat-cf">
  <button class="button" type="submit">
    <%= image_tag("web-app-theme/tick.png", :alt => "#{t("ttv.save", :default => "Save")}") %> <%= t("ttv.save", :default => "Save") %>
  </button>  
  <%= link_to "#{image_tag("web-app-theme/cross.png", :alt => "#{t("web-app-theme.cancel", :default => "Cancel")}")} #{t("web-app-theme.cancel", :default => "Cancel")}", elections_path, :class => "button" %> 
</div>