
<%= link_to "Precincts and ballots", precincts_election_path, :method => 'get' %>
<%= link_to "Edit Ballot Style Template", :controller => 'ballot_style_templates',:action => 'edit', :id => @election.ballot_style_template_id %>
<%= render :partial => 'show', :locals => {:election => @election } %>

<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first">
        <%= link_to "#{t("web-app-theme.list", :default => "List")}", elections_path %>
      </li>
      <li>
        <%= link_to "#{t("web-app-theme.new", :default => "New")}", new_election_path %>
      </li>
      <li class="active">
        <%= link_to "#{t("web-app-theme.show", :default => "Show")}", election_path %>
      </li>
    </ul>
  </div>
  <div class="content">
    <div class="inner">
      <p>
        <b><%= t("activerecord.attributes.election.display_name", :default => t("activerecord.labels.display_name", :default => "Display name")) %>:</b>
        <%= @election.display_name %>
      </p>
      <p>
        <b><%= t("activerecord.attributes.election.district_set_id", :default => t("activerecord.labels.district_set_id", :default => "District set")) %>:</b>
        <%= @election.district_set_id %>
      </p>      
	 <p>
        <b><%= t("activerecord.attributes.election.ballot_style_template_id", :default => t("activerecord.labels.ballot_style_template_id", :default => "Ballot Style Template")) %>:</b>
        <%= @election.district_set_id %>
      </p>
      <p>
        <b><%= t("activerecord.attributes.election.start_date", :default => t("activerecord.labels.start_date", :default => "Start date")) %>:</b>
        <%= @election.start_date %>
      </p>
      <div class="wat-cf">
        <%= link_to "#{image_tag("web-app-theme/application_edit.png", :alt => "#{t("web-app-theme.edit", :default=> "Edit")}")} #{t("web-app-theme.edit", :default=> "Edit")}", edit_election_path(@election), :class => "button" %>
        <%= link_to "#{image_tag("web-app-theme/cross.png", :alt => "#{t("web-app-theme.delete", :default=> "Delete")}")} #{t("web-app-theme.delete", :default => "Delete")}", election_path(@election), :method => "delete", :class => "button", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
      </div>
    </div>
  </div>
  <div class="content">
    <h2 class="title">Precincts</h2>
    <%= render :partial => 'precincts/precinct_list' %>
  </div>
  <div class="content">
    <h2 class="title">Contests</h2>
    <%= render :partial => 'contests/contest_list' %>
  </div>
  <div class="content">
    <h2 class="title">Districts</h2>
    <%= render :partial => 'districts/district_list' %>
  </div>
</div>
<% content_for :sidebar, render(:partial => 'sidebar') -%>
