<div class="block">
    <div class="content">
        <div class="inner">
            <% ["display_name", "jurisdiction", "default_voting_method", "ballot_style_template", "start_date", "ident"].each do |fld| %>
              <%= ttv_show_field(@election, fld) %>
            <% end %>
            <%= ttv_actions_bar(Election, @election, [:edit, :delete, :back]) %>
            <%= ttv_linkbox(link_to(t("ttv.download_all_ballots", :default => "Download All ballots"), ballots_election_precinct_path(@election)),
									          link_to(t("ttv.ballot_listing_file", :default => "Download Ballot Proofing File"), ballot_proofing_election_path(@election, :format => "csv"))) %>

        </div>
        <%= render :partial => "generic/index", :locals => { :ems_class => Ballot, :collection => @ballots, :columns => ["ballot", "n_contests", "n_questions"], :commands => [], :paginate => true } %>
        <%= render :partial => "generic/index", :locals => { :ems_class => Contest, :collection => @contests, :columns => ["contest", "district", "n_candidates"], :commands => [], :paginate => true } %>
        <%= render :partial => "generic/index", :locals => { :ems_class => Question, :collection => @questions, :columns => ["question", "district"], :commands => [], :paginate => true } %>
    </div>
</div>
<% content_for :sidebar, render(:partial => 'sidebar') -%>
