<div class="inner">
  <p>
    <b><%= t("activerecord.attributes.candidate.display_name", :default => t("activerecord.labels.display_name", :default => "Display name")) %>:</b>
    <%= @candidate.display_name %>
  </p>
  <p>
    <b><%= t("activerecord.attributes.candidate.party_id", :default => t("activerecord.labels.party_id", :default => "Party")) %>:</b>
    <%= @candidate.party_id %>
  </p>
  <p>
    <b><%= t("activerecord.attributes.candidate.contest_id", :default => t("activerecord.labels.contest_id", :default => "Contest")) %>:</b>
    <%= @candidate.contest_id %>
  </p>
  <p>
    <b><%= t("activerecord.attributes.candidate.ident", :default => t("activerecord.labels.ident", :default => "Ident")) %>:</b>
    <%= @candidate.ident %>
  </p>
  <p>
    <b><%= t("activerecord.attributes.candidate.order", :default => t("activerecord.labels.order", :default => "Order")) %>:</b>
    <%= @candidate.order %>
  </p>
  <div class="wat-cf">
    <%= link_to "#{image_tag("web-app-theme/application_edit.png", :alt => "#{t("web-app-theme.edit", :default=> "Edit")}")} #{t("web-app-theme.edit", :default=> "Edit")}", edit_candidate_path(@candidate), :class => "button" %>
    <%= link_to "#{image_tag("web-app-theme/cross.png", :alt => "#{t("web-app-theme.delete", :default=> "Delete")}")} #{t("web-app-theme.delete", :default => "Delete")}", candidate_path(@candidate), :method => "delete", :class => "button", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
  </div>
</div>
