<% display ||= 'block'%>
<% @div_id = "#{dom_id(candidate)}_edit" %>
<div id="<%= @div_id -%>" class='isEditor' style='display:<%= display %>'>
	<% remote_form_for candidate, 
		:action => 'update', :html => { :inlineEditor => 1 }  do |f| %>
	  <p>
	    <%= f.text_field :display_name, :size => 20 %>
	    <span style='min-width: 36px'> </span>
			<%= f.label :party_id %>:
	    <%= f.collection_select :party_id, Party.all, :id, :display_name %>
	  </p>
	  <p>
	    <%= f.submit 'Update' %> 
			<input type="button" value="Cancel" onClick="ttv.cancelEdit('<%= @div_id -%>')">
		</p>
		<% end %>
</div>
