
  <div class="group">
    <%= f.label :display_name, t("activerecord.attributes.candidate.display_name", :default => "Display name"), :class => :label %>
    <%= f.text_field :display_name, :class => 'text_field' %>
    <span class="description">Name of candidate</span>
  </div>

<div class="group">
  <% parties = Party.find(:all, :order => :id) %>
  <%= f.label :party_id, t("activerecord.attributes.contest.party_id", :default => "Party"), :class => :label %>
  <%= f.collection_select(:party_id, parties, :id, :display_name) %>
</div>

<div class="group">
  <% contests = Contest.find(:all, :order => :id) %>
  <%= f.label :contest_id, t("activerecord.attributes.candidate.contest_id", :default => "Contest"), :class => :label %>
  <%= f.collection_select :contest_id, contests, :id, :display_name %>
</div>

  <div class="group">
    <%= f.label :ident, t("activerecord.attributes.candidate.ident", :default => "Ident"), :class => :label %>
    <%= f.text_field :ident, :class => 'text_field' %>
    <span class="description">Candidate ident. Ex: CAND-001, CAND-053</span>
  </div>

  <div class="group">
    <%= f.label :order, t("activerecord.attributes.candidate.order", :default => "Order"), :class => :label %>
    <%= f.text_field :order, :class => 'text_field' %>
    <span class="description">Order in which candidate will be displayed. Ex: 0, 1, 2</span>
  </div>
        
<div class="group navform wat-cf">
  <button class="button" type="submit">
    <%= image_tag("web-app-theme/tick.png", :alt => "#{t("web-app-theme.save", :default => "Save")}") %> <%= t("web-app-theme.save", :default => "Save") %>
  </button>  
  <%= link_to "#{image_tag("web-app-theme/cross.png", :alt => "#{t("web-app-theme.cancel", :default => "Cancel")}")} #{t("web-app-theme.cancel", :default => "Cancel")}", candidates_path, :class => "button" %> 
</div>