<h1>Listing Ballot Style Templates</h1>

<table>
  <tr>
    <th>Display Name</th>
    <th>Default Voting Method</th>
    <th>Ballot Style</th>
    <th>Instruction Text</th>
    <th>State Graphic</th>
  </tr>

<% @ballot_style_templates.each do |ballot_style_template| %>
  <tr>
    <td><%=h ballot_style_template.display_name %></td>
    <td><%=h VotingMethod.find(ballot_style_template.default_voting_method).display_name %></td>
    <td><%=h BallotStyle.find(ballot_style_template.ballot_style).display_name %></td>
    <td><%=h ballot_style_template.instruction_text %></td>
    <td><%=h ballot_style_template.state_graphic %></td>
    <td><%= link_to 'Show', ballot_style_template %></td>
    <td><%= link_to 'Edit', edit_ballot_style_template_path(ballot_style_template) %></td>
    <td><%= link_to 'Destroy', ballot_style_template, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Ballot Style Template', new_ballot_style_template_path %>