<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first"><%= link_to "#{t("web-app-theme.list", :default => "List")}", districts_path  %></li>
      <li><%= link_to "#{t("web-app-theme.new", :default => "New")}", new_district_path %></li>
      <li class="active"><%= link_to "#{t("web-app-theme.show", :default => "Show")}", district_path %></li>
    </ul>
  </div>          
  <div class="content">
    <div class="inner">
      
        <p>
          <b><%= t("activerecord.attributes.district.district_type_id", :default => t("activerecord.labels.district_type_id", :default => "District type")) %>:</b>
          <%= @district.district_type.title %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.district.display_name", :default => t("activerecord.labels.display_name", :default => "Display name")) %>:</b>
          <%= @district.display_name %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.district.ident", :default => t("activerecord.labels.ident", :default => "Ident")) %>:</b>
          <%= @district.ident %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.district.position", :default => t("activerecord.labels.position", :default => "Position")) %>:</b>
          <%= @district.position %>
        </p>

      <div class="wat-cf">
        <%= link_to "#{image_tag("web-app-theme/application_edit.png", :alt => "#{t("web-app-theme.edit", :default=> "Edit")}")} #{t("web-app-theme.edit", :default=> "Edit")}", edit_district_path(@district), :class => "button" %> 
        <%= link_to "#{image_tag("web-app-theme/cross.png", :alt => "#{t("web-app-theme.delete", :default=> "Delete")}")} #{t("web-app-theme.delete", :default => "Delete")}", district_path(@district), :method => "delete", :class => "button", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
      </div>      
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>