<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first"><%= link_to "#{t("web-app-theme.list", :default => "List")}", jurisdictions_path  %></li>
      <li><%= link_to "#{t("web-app-theme.new", :default => "New")}", new_jurisdiction_path %></li>
      <li><%= link_to "#{t("web-app-theme.import", :default => "Import")}", import_jurisdiction_path %></li>
      <li class="active"><%= link_to "#{t("web-app-theme.audit", :default => "Audit")}", audit_jurisdiction_path %></li>

    </ul>
  </div>          
  <div class="content">            
    <h2 class="title">Import <%= t("web-app-theme.audit", :default => "Audit")%> report</h2>
    <div class="inner">

		<% form_tag ({:action => 'process'}, {:method => 'put'}) do %>
    <% @alerts.each { |alert|  %>
    <%= alert.message %>
    <select name="<%= alert.type.to_s %>">
      <% alert.options.each { |option| %>
        <option value="test"><%= option %></option>
      <% } %>
    </select>
    <br/>
    <input type="submit" value="Submit" />
    <% } %>
    <% end %>

    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>