<div class="block">
  <div class="content">
    <h2 class="title">Choose Your Jurisdiction:</h2>
    <div class="inner">
      <p class="first">
        Welcome to the TrustTheVote Election Manager! 
        <% if can? :register, User %>
        You may access public information here without logging in. 
        If you would likea free account, click <%= link_to "here", register_user_path %> to register.
        <% end %>
        Thank you for your interest!
      </p>
      <ul class="list">
        <% @district_sets.each do |district_set| %>
        <li>
          <div class="left">
             <%= link_icon_for district_set %>
          </div>
          <div class="item">
            <h3><%= link_to district_set.display_name, set_jurisdiction_path(district_set) %> </h3>
            <p>
              <%= district_set.display_name %><%= ", " + district_set.secondary_name unless district_set.secondary_name.nil? %>
               was created at <%= district_set.created_at %>. It contains <%= pluralize (district_set.elections.size, 'election') %>
               and <%= pluralize (district_set.districts.size, 'district') %> covering <%= pluralize (district_set.precincts.size, 'precinct') %>.
<% if district_set.elections.size >= 1 %>
  The 
  <%= district_set.elections.size <= 5 ? district_set.elections.size : 5 %>
  most recently changed
  <%= district_set.elections.size == 1 ? "election" : "elections" %>
  in this district 
  <%= district_set.elections.size == 1 ? "is" : "are" %>:
  <% elections = district_set.elections.sort {|x,y| x.updated_at <=> y.updated_at }[0..4]%>
  <% elections.each_with_index { |election, index| %>
     <%= "and " if index != 1 and index == elections.length - 1 %><%= link_to election.display_name, election  %><%= index == elections.length - 1 ? "." : "," %>
  <% } %>
<% end %>
            </p>
          </div>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<% content_for :sidebar, render(:partial => 'sidebar') -%>

 
