<div class="block">
    <div class="block">
        <div class="content">
            <div class="inner">
                <div class="subtable">
                    <%= ttv_view_list_title "Elections" %>
                    <%= ttv_view_list(Election, @elections, ["election", "date", "questions", "contests"]) %>
                    <%= ttv_actions_bar Election, @elections, [:new] %>
                </div>
                <%= ttv_linkbox("Number of precincts: " + link_to("#{@jurisdiction.precincts.count} (click to view)", show_precincts_jurisdiction_path(@jurisdiction)),
                "Number of districts: " + link_to("#{@jurisdiction.jur_districts.count} (click to view)", show_districts_jurisdiction_path(@jurisdiction))) %>
                <%= ttv_actions_bar DistrictSet, @jurisdiction, [:new, :delete, :edit] %>
            </div>
        </div>
    </div>
</div>
<% content_for :sidebar, render(:partial => 'sidebar') -%>
