<div class="block">
    <div class="content">
        <div class="inner">
            <p>
                <b><%= t("ttv.ident", :default => "Ident") %>:</b>
                <%= @asset.ident %>
            </p>
            <p>
                <b><%= t("ttv.display_name", :default => "Display Name") %>:</b>
                <%= @asset.display_name %>
            </p>
            <p>
                <%-#= image_tag @asset.asset.url %>
                <%= image_tag(@asset.asset.url(:medium)) %>
                <%= image_tag(@asset.asset.url(:thumb)) %>
            </p>
            <div class="actions-bar wat-cf">
                <div class="buttons">
                    <%= link_to "#{t("ttv.edit", :default => "Edit")}", edit_asset_path(@asset) %>
                    <%= link_to "#{t("ttv.delete", :default => "Delete")}", new_asset_path %>
                </div>
            </div>
        </div>
    </div>
</div>
<% content_for :sidebar, render(:partial => 'sidebar') -%>