<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
	    <li class="first active"><%= link_to "#{t("ttv.list", :default => "List")}", media_path  %></li>
  		<li><%= link_to "#{t("ttv.new", :default => "New")}", new_medium_path %></li>
    </ul>
  </div>       
  <div class="content">          
    <h2 class="title"><%= t("web-app-theme.all", :default => "All")  %> media </h2>
    <div class="inner">
      <table class="table">
        <tr>             
          <th class="first">ID</th>
					<th>
					  <%= t("ttv.display_name", :default => "Display name") %>
          </th>
          <th>
            <%= t("ttv.created_at", :default => "Created at")  %>
          </th>

          <th class="last">&nbsp;</th>
        </tr>
        <% @media.each do |medium| -%>
        <tr class="<%= cycle("odd", "even") %>">
          <td>
            <%= medium.id %>
          </td>
					<td>
						<%= link_to medium.display_name, medium_path(medium) %>
					</td>
					<td>
            <%= medium.created_at %>
          </td>

          <td class="last">
            <%= link_to "#{t("web-app-theme.show", :default => "Show")}", medium_path(medium) %> |
            <%= link_to "#{t("web-app-theme.edit", :default => "Edit")}", edit_medium_path(medium) %> |
            <%= link_to "#{t("web-app-theme.delete", :default => "Delete")}", medium_path(medium), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
            
          </td>
        </tr>
        <% end -%>
      </table>
      <div class="actions-bar wat-cf">
        <div class="actions">
        </div>
        
        <%= will_paginate @media  %>
        
      </div>
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>