<h1>New precinct</h1>

<% form_for(@precinct) do |f| %>
  <%= render_error_messages(@precinct) %>

  <p>
    <%= f.label :display_name %><br />
    <%= f.text_field :display_name %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', precincts_path %>