<ul class=list>
  <% if can? :read, User %>
  <li><%=link_to "View all users", users_path %>
  <% end %>
  <li><%=link_to "View all jurisdictions", district_sets_path %>    
  <li><%=link_to "View all elections", elections_path %>
  <li><%=link_to "View all districts", districts_path %>
  <li><%=link_to "View all precincts", precincts_path %></li>
  <li><%=link_to "View all contests", contests_path %>
  <li><%=link_to "View all candidates", candidates_path %>
  <li><%=link_to "View all questions", questions_path %>
  <% if can? :read, BallotStyleTemplate %>
  <li><%=link_to "View all style templates", ballot_style_templates_path %>
  <li><%=link_to "View all ballot styles", ballot_styles_path %>
  <% end %>
  <% if current_user && current_user.root? %>
  <li><%=link_to "Maintenance Tasks", maintain_path %></li>
  <% end %>
  <% if current_user && current_context.jurisdiction && (current_user.current_jurisdiction_admin?(current_context.jurisdiction) || current_user.root?) %>
  <li><%= link_to "Import into Jurisdiction", import_jurisdiction_path(:id => current_context.jurisdiction.id) %></li>
  <% end %>

</ul>

