	<ul class=list>
		<li><%=link_to "View elections", elections_path %>
		<li><%=link_to "View districts", districts_path %>
		<li><%=link_to "View precincts", precincts_path %></li>
		<li><%=link_to "View contests", contests_path %>
		<li><%=link_to "View candidates", candidates_path %>
		<li><%=link_to "View questions", questions_path %>
		<li><%=link_to "View ballot styles", ballot_styles_path %>
		<li><%=link_to "Maintainenace Tasks", maintain_path %></li>

	</ul>