<% content_for :title, "Trust The Vote"%>
<h1>Welcome to TrustTheVote</h1>
<% if current_user %>
        <div id='mytabs'>
         <ul>
	  <li><%=link_to "View Elections", elections_path  %> </li>
		<li><%=link_to "View districts", districts_path %>
		<li><%=link_to "View contests", contests_path %>
		<li><%=link_to "View candidates", candidates_path %>
		<li><%=link_to "View questions", questions_path %>
		<li><%=link_to "View ballot styles", ballot_styles_path %>
		<li><%=link_to "Maintainenace Tasks", maintain_path %></li>
         </ul>
        </div>
<% else %>
	<p>Welcome to TrustTheVote election management system.</p>
	<p>Please <%= link_to "Register", new_user_path %>, or <%= link_to "Login", login_path %> to play with it.</p>
<% end %>
