
  <div class="group">
    <%= f.label :display_name, t("activerecord.attributes.district_set.display_name", :default => "Display name"), :class => :label %>
    <%= f.text_field :display_name, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :secondary_name, t("activerecord.attributes.district_set.secondary_name", :default => "Secondary name"), :class => :label %>
    <%= f.text_field :secondary_name, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :secondary_name, t("activerecord.attributes.district_set.icon", :default => "Icon"), :class => :label %>
    <%= icon_for @district_set %>
    <br />
    <%= f.file_field :icon %>
    <br />
    <span class="description">Ex: a simple text</span>
  </div>
  
<div class="group navform wat-cf">
  <button class="button" type="submit">
    <%= image_tag("web-app-theme/tick.png", :alt => "#{t("web-app-theme.save", :default => "Save")}") %> <%= t("web-app-theme.save", :default => "Save") %>
  </button>  
  <%= link_to "#{image_tag("web-app-theme/cross.png", :alt => "#{t("web-app-theme.cancel", :default => "Cancel")}")} #{t("web-app-theme.cancel", :default => "Cancel")}", district_sets_path, :class => "button" %> 
</div>