<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>TTV Election Manager</title>
    <%= stylesheet_link_tag "web_app_theme", "themes/warehouse/style", "override_web_app_theme" %>
  </head>
  <body>
  <div id="container">
    <div id="header">
      <table>
        <tr>
          <td>
            <%= link_logo_for(current_context.jurisdiction) %>
            <%-#= icon_helper %>
          </td>
          <td valign="middle">
            <a href="/"><%= header_helper %></a>
          </td>
        </tr>
      </table>
    </div>
    <div id="user-navigation">
      <%= user_navigation_helper %>
    </div>
    <div id="main-navigation">
      <ul class="wat-cf">
      </ul>
    </div>
  </div>
  <div id="wrapper" class="wat-cf">
    <div class="flash" id="flash">
      <% flash.each do |type, message| -%>
      <div class="message <%= type %>">
        <p>
          <%= message %>
        </p>
      </div>
      <% end -%>
    </div>
    <div id="main">
     <%= breadcrumb_helper(current_context) %>
      <%= yield %>
      <div id="footer">
        <div class="block">
            TTV Election Manager <%= IO.readlines("VERSION")[0] %> -- Copyright &copy; <%= Time.now.year(); link_to("Open Source Digital Voting Foundation", "http://www.osdv.org") %>
        </div>
      </div>
    </div>
    <div id="sidebar">
      <%= yield :sidebar %>
    </div>
  </div>
  </div>
</body>
</html>
