<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>TTV Election Manager</title>
    <%= stylesheet_link_tag "base", "themes/warehouse/style", "override_web_app_theme" %>
  </head>
  <body>
  <div id="container">
    <div id="header">
      <div id="juris">
        <%= link_logo_for(current_context.jurisdiction) %>
        <%= header_helper %>
      </div>
      <div id="user-navigation">
        <%= user_navigation_helper %>
      </div>
    </div>
    <div id="wrapper" class="wat-cf">
      <div class="flash" id="flash">
        <% flash.each do |type, message| -%>
        <div class="message <%= type %>">
          <p>
            <%= message %>
          </p>
        </div>
        <% end -%>
      </div>
      <div id="main">
        <div id="breadcrumb">
          <%= breadcrumb_helper(current_context) %>
        </div>
        <%= yield %>
         </div>

   	  <div id="sidebar">
          <div class="content block">
            <div class="inner">
              <div class="wat-cf" id="commands">
                <a class="button" href="http://www.salas.com">
                  <img src="/images/ui_icons/searchicon.png" alt="Search"/>Search
                </a>
                <a class="button" href="http://www.salas.com">
                   <img src="/images/ui_icons/adminicon.png" alt="Admin"/>Admin
                </a>
              </div>
              <%= yield :sidebar %>
            </div>
          </div>
        </div>
    </div>
  </div>
  <div id="footer">
    <div class="block">
      TTV Election Manager <%= IO.readlines("VERSION")[0] %> -- Copyright &copy; <%= Time.now.year(); link_to("Open Source Digital Voting Foundation", "http://www.osdv.org") %>
    </div>
  </div>
  </body>
</html>
